<div id="wrapper">
		<div class="banner">
    	<img src="images/inner-banner4.jpg" />
        <div class="desc">
        	<div class="container">
            	<div class="text">
                	<h1>what do you do,</h1>
                    <p>sorry, i don't understand <span>my englies is not very good</span></p>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="about">
    	<div class="container">
        	<div class="lt-block">
            	<img src="images/walle.jpg" />
            </div>
            <div class="rt-block">
            	<h3>wel come</h3>
                <p>sorry, i don't understand my englies is not very good
                sorry, i don't understand my englies is not very good sorry, i don't understand my englies is not very good</p>
                <a href="#">click hear</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>-->
	<div class="contact">
		<div class="container">
        	<h4>contact us</h4>
        	<form>
            	<input type="text" name="name" placeholder="name"   class="name"/>
                <input type="text" name="name" placeholder="last-name"   class="last-name"/>
                <input type="button" value="submit"  class="button"/>
            </form>
        </div>
    </div>
</div>