<div id="" class="panel-body tabcontent" style="display: block;">
    <div class="col-md-12 clearfix">      
        <div class="row">

            <h3 class="heading-bg">Creat new Task</h3>

            <div class="col-sm-5">
                <form class="form-group" action="#">
                    <div class="form-group">
                        <label>Select Month :</label>
                        <select class="form-control">
                            <option>Select Month</option>
                            <option>January</option>
                            <option>February</option>
                            <option>March</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Select date :</label>
                        <select class="form-control">
                            <option>Select date</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Select Year :</label>
                        <select class="form-control">
                            <option>Select Year</option>
                            <option>2017</option>
                            <option>2016</option>
                            <option>2015</option>
                        </select>
                    </div>
                    <div class="form-group">                                               
                        <labe><b>Select Time :</b></label>
                        <input type="time" class="">
                    </div>                                
            </div>

            <div class="col-sm-5 col-sm-offset-1">
                <div class="form-group">                                               
                    <labe><b>Add Note :</b></label>
                    <textarea class="form-control" rows="5" id=""></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Add</button>  
            </div>
            </form> 
        </div>
    </div>
</div>