<div class="col-sm-12">
    <div class="row">
        <h3 class="heading-bg">Create Product / Services </h3><!-- Inner page heading -->
        <form action="#">
            <div class="col-sm-5">
                <h2 class="heading-bg-h2">Create Product</h2>

                <div class="form-group">
                    <label for="">Product Name:</label>
                    <input type="text" class="form-control" id="#" placeholder="Product name">
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <!-- Alart -->
                <div class="alert alert-success">
                    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> Product Save Successfully !
                </div>

                <!-- Show Added products -->
                <div class="table-responsive">          
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td><i class="fa fa-check"></i> Product name Added</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-check"></i> Product name Added</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-check"></i> Product name Added</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="col-sm-5 col-sm-offset-1">
                <h2 class="heading-bg-h2">Create Service</h2>
                <div class="form-group">
                    <label for="">Select Product:</label>
                    <select class="form-control">
                        <option> Select </option>
                        <option> 1 </option>
                        <option> 2 </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Service Name:</label>
                    <input type="text" class="form-control" id="#" placeholder="Service name">
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <!-- Alart -->
                <div class="alert alert-success">
                    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> Service Save Successfully !
                </div>

                <!-- Show Added products -->
                <div class="table-responsive">          
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td><i class="fa fa-check"></i> Service Added</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-check"></i> Service Added</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-check"></i> Service Added</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </form> 
    </div>
</div>